DEBUG=1
SECRET_KEY=

DB_NAME=
DB_USER=
DB_PASSWORD=

MAPPING_DB_PORT=5432
MAPPING_API_PORT=8000

# Authenticate Swagger
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

# Username and password for super admin
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=

ADMIN_WEBAPP_URL=

# Email and password used for SMTP sendmail.
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_SENDER=
NAME_SENDER=

CACHE_URL=
APP_NAME=

# AWS S3 config
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_CUSTOM_DOMAIN="${AWS_STORAGE_BUCKET_NAME}.s3.${AWS_S3_REGION_NAME}.amazonaws.com"

# Map APIs
MAP_API_KEY=
MAP_ROUTE_URL=
MAP_VRP_URL=
MAP_API_VERSION=

# Redis
REDIS_URL=

# NestJs private key
NESTJS_PRIVATE_KEY=
