DEBUG=1
SECRET_KEY='abc'

DB_NAME=
DB_USER=
DB_PASSWORD=

MAPPING_DB_PORT=5432
MAPPING_API_PORT=8000

# Authenticate Swagger
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

# Username and password for admin site
ADMIN_USERNAME=
ADMIN_PASSWORD=

ADMIN_WEBAPP_URL=

# Email and password used for SMTP sendmail.
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_SENDER=
NAME_SENDER=

CACHE_URL=
APP_NAME=
