Django==5.2.4
djangorestframework==3.16.0
djangorestframework-camel-case==1.4.2
djangorestframework-simplejwt==5.5.0
psycopg2-binary==2.9.10
django-environ==0.12.0
gunicorn==23.0.0
environ==1.0
uvicorn[standard]==0.34.0
drf-spectacular==0.28.0
django-filter==25.1
Faker==37.4.2
